body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.formulario {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #fff;
}

.formulario div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #333333;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
